@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@layer base {
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --card: #ffffff;
    --card-foreground: #09090b;
    --popover: #ffffff;
    --popover-foreground: #09090b;
    --primary: #16a34a;
    --primary-foreground: #fff1f3;
    --secondary: #f4f4f5;
    --secondary-foreground: #18181b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #f4f4f5;
    --accent-foreground: #18181b;
    --destructive: #ef4444;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: #16a34a;
    --radius: 0.5rem;
    --chart-1: #f87171;
    --chart-2: #34d399;
    --chart-3: #0ea5e9;
    --chart-4: #fbbf24;
    --chart-5: #fb923c;
  }

  .dark {
    --background: #0f0f10;
    --foreground: #f2f2f2;
    --card: #1e1e1e;
    --card-foreground: #f2f2f2;
    --popover: #161616;
    --popover-foreground: #f2f2f2;
    --primary: #22c55e;
    --primary-foreground: #134e4a;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #1c1c1c;
    --accent-foreground: #fafafa;
    --destructive: #dc2626;
    --destructive-foreground: #fef2f2;
    --border: #262626;
    --input: #262626;
    --ring: #15803d;
    --chart-1: #3b82f6;
    --chart-2: #059669;
    --chart-3: #f59e0b;
    --chart-4: #9333ea;
    --chart-5: #ef4444;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* custom class */

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-overflow.line-one {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.text-overflow.line-two {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

/* skipnav */
.skipnav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 0;
  line-height: 1;
}

.skipnav a {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 0 -1px -1px 0;
  padding: 0;
  font-size: 0;
  line-height: 1;
}

.skipnav a:active,
.skipnav a:focus,
.skipnav a:hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 19px;
  margin: 0;
  padding: 5px 0;
  border: 1px solid #c4d7ea;
  background: #2b6cb0;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
  line-height: 100%;
}

::selection {
  background-color: var(--primary);
}